.main {
  min-height: 100vh;
  background: var(--color-bg-primary);
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.content {
  width: 100%;
  position: relative;
  padding: 0;
  min-height: calc(100vh - 120px);
}

